<StackLayout class="login-container">
  <Image src="~/assets/yada.png" class="logo" width="200" height="200"></Image>
  <Label text="Görev App" class="title"></Label>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <StackLayout class="input-container">
      <TextField
        formControlName="username"
        hint="Username"
        class="input"
      ></TextField>
      <Label
        *ngIf="
          loginForm.get('username').invalid && loginForm.get('username').touched
        "
        text="Doldurulması zorunlu alan"
        class="error"
      ></Label>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField
        formControlName="password"
        hint="Password"
        secure="true"
        class="input"
      ></TextField>
      <Label
        *ngIf="
          loginForm.get('password').invalid && loginForm.get('password').touched
        "
        text="Doldurulması zorunlu alan (Min: 5, Max: 10)"
        class="error"
      ></Label>
    </StackLayout>

    <Button
      text="Giriş Yap"
      class="login-button"
      [isEnabled]="loginForm.valid"
      (tap)="onSubmit()"
    ></Button>
    <Button
      text="Kayıt Ol"
      class="register-button"
      (tap)="onRegister()"
    ></Button>
  </form>
</StackLayout>
