<StackLayout class="register-container">
  <Label text="Kayıt Ol" class="title"></Label>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <StackLayout class="input-container">
      <TextField
        formControlName="username"
        hint="Kullanıcı Adı"
        class="input"
      ></TextField>
      <Label
        *ngIf="
          registerForm.get('username').invalid &&
          registerForm.get('username').touched
        "
        text="Doldurulması zorunlu alan"
        class="error"
      ></Label>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField
        formControlName="password"
        hint="Şifre"
        secure="true"
        class="input"
      ></TextField>
      <Label
        *ngIf="
          registerForm.get('password').invalid &&
          registerForm.get('password').touched
        "
        text="Doldurulması zorunlu alan (Min: 5, Max: 10)"
        class="error"
      ></Label>
    </StackLayout>

    <Button
      text="Kayıt Ol"
      class="register-button"
      [isEnabled]="registerForm.valid"
      (tap)="onSubmit()"
    ></Button>
    <Button
      text="Giriş Yap"
      class="login-button"
      (tap)="router.navigate(['/login'])"
    ></Button>
  </form>
</StackLayout>
